/*-------------------------------------------------------------*/
/*         CSS definitions for main page and gloal setting     */
/* ------------------------------------------------------------*/
* {
    box-sizing: border-box;
  
  }
  
  body {
      margin: 0;
      /* background-image:url("../images/zhy_001.jpg"); */
      /* background-size:cover; */
      background-color: #fcfbed;
      
  }
  /* ---------------- main page-------------------- */

.sidenav {
  background-image: url("../images/bg.png");
  height: 1300px;
}

li a {
    display: block;
    color: gold;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration:none;
    text-align: center;
}

li a:hover {
    background-color: SandyBrown;
    color: white;
    font-size: 25px;

}

#openHours {
  display: block;
  color: gold;
  font-weight: bold;
  font-style: oblique;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

#firstPage {
  /* margin-left:20%; */
  text-align: center;
  font-style: oblique;

}

.pizza_pics img{
    margin-left: 5%;
    width: 84%;
    margin-bottom: 10px;
    /* height:50%; */
    border-color: SandyBrown;
    border-radius: 15px;
    border-style:groove;
  }
  .pizza_pics h1,p{
    margin-left: 5%;
    width: 84%;
    height:50%;
    border-style:none;
    font-size:20px;
    font-style: oblique;
    text-align: left;
    color: brown;
  
  }

  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
      /* display: none; */
    }
    .lowerpart {
      display: none;
    }
  }

  /*----------------------------------------------*/
/*         CSS definitions for menu             */
/*-----------------------------------------------*/
.menu-container .item-pic{
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: 0 0px 0px 2px SandyBrown;
  height: 350px;
  border-radius: 30px;
  font-size: 30px;
  color:red;
}
.menu-container .item-1{ background-image: url("../images/jiaozi-1.jpg" );}
.menu-container .item-2{ background-image: url("../images/jiaozi-2.jpg" );}
.menu-container .item-5{ background-image: url("../images/jiaozi-3.jpg" );}
.menu-container .item-6{ background-image: url("../images/jiaozi-4.jpg" );}

.menu-container .item-txt{

  text-align:left;
  
  font-size: 20px;
  font-style: oblique;
  color: brown;
}

/*----------------------------------------------*/
/*         CSS definitions for order            */
/*-----------------------------------------------*/
.title {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  color: brown;
  padding: 20px;
}

#order_section {

  padding-top: 10px;
  margin-left: 20%;
  text-align: center;
  width: 70%;
  background-color: lightyellow;
  color: brown;
  font-size: 20px;
}

input, select {
  width: 70%;
}
p {
  margin-bottom: 20px;
}

#buttons {
  padding-top: 10px;
  padding-bottom: 5px;
}
button {
  width: 150px;
  height: 30px;
}

/*----------------------------------------------*/
/*         CSS definitions for franchising      */
/*-----------------------------------------------*/
#franchising_section h2 {
  text-align: center;
}
#franchising_section p{
  margin-left: 5%;
  width: 84%;
  height: 50%;
  border-style: none;
  font-size: 20px;
  font-style: oblique;
  text-align: left;
  color: brown;
}

#button {
   text-align: center;
}

/*----------------------------------------------*/
/*         CSS definitions for Contact      */
/*-----------------------------------------------*/

iframe {
  margin-left: 5%;
}
#contact h1 {
  margin-left: 30%;
  padding: 20px;
  color: brown;  
  font-style: oblique;
}

#contact h2{
  margin-left: 25%;
  width: 84%;
  height:50%;
  border-style:none;
  font-size:20px;
  font-style: oblique;
  text-align: left;
  color: brown;
  padding: 10px;
}